@media print {
    * {
        color: black !important;
        background: none !important;
    }

    html,
    body {
        display: block;
        font-family: Arial, sans-serif !important;
        font-size: 10pt !important;
    }

    header {
        display: none !important;
    }

    footer {
        display: none;
    }

    .mdc-top-app-bar--fixed-adjust {
        padding-top: 0;
    }

    .mdc-card {
        display: block;
        border-radius: 0;
        border: 1px solid black;
        box-shadow: none;
        margin: 8px 0;
    }

    .card--padded {
        padding: 4px;
    }

    .mdc-list-item {
        display: block;
        height: auto !important;
        border-bottom: 1px solid black;
    }
}
